[submodule "src-tauri/sidecar/sources/rust-analyzer"]
	path = src-tauri/sidecar/sources/rust-analyzer
	url = https://github.com/rust-lang/rust-analyzer
[submodule "src-tauri/res/sources/rust-analyzer"]
	path = src-tauri/res/sources/rust-analyzer
	url = https://github.com/rust-lang/rust-analyzer
